/* Genel stil */
body {
  font-family: Arial, sans-serif;
  margin: 0;                      
  padding: 0;                     /* Sayfa iç boşluklarını sıfırlar */
  line-height: 2;               /* satırlar arası mesafe */
  background-color: rgb(196, 233, 246);       
  margin-top: 50px;             
  height: 100%;
  min-height: 100vh;
}


/* Header düzeni */
header {
  background-color: rgba(58, 202, 251,0.7);      /* Header arka plan rengini mor yapar */
  color: white;                  /* Yazı rengini beyaz yapar */
  text-align: center;            /* Header içeriğini ortalar */
  padding: 0.01em 0;             /* altlı üstlü boşluk*/
  position: fixed;               /* Header'ı sayfanın üstüne sabitler */
  top: 0;                        
  width: 100%;                   
  z-index: 100;               
}

.header-content {
  display: flex;
  align-items: center;
  padding: 10px 30px;
}

.header-top {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 30px;
  height: 60px;
}

.logo-text {
  font-size: 1.5em;
  font-weight: bold;
  color: white;
  font-family: Georgia, serif;
  margin-right: 30px; /* Butonlarla arasına boşluk */
 
  margin-top: 25px;
}

h1, h2 {
  color: #333;                   
  font-size: 1.6em;            
  margin-top: 0;
}
/* Menü düzeni */
nav {
  background-color: transparent;    
  text-align: center;            /* Menü öğelerini ortalar */ 
}

nav a {
  display: inline-block;         /* Menü bağlantılarını blok gibi gösterir ama yan yana kalır */
  background-color: white;     
  color: rgb(58, 202, 251);                
  padding: 6px 9px;              /* İç boşluk */
  margin: 0 8px;                 /* Yan yana boşluk */
  text-decoration: none;         /* Alt çizgiyi kaldırır */
  border-radius: 25px;           
  border: 1px solid rgb(58, 202, 251);     
  transition: all 0.3s ease;     /* Hover geçişlerini yumuşatır */
  font-weight: bold;             
}

nav a:hover {
  background-color: rgb(58, 202, 251);      /* Üzerine gelindiğinde  mavi*/
  color: white;                   /* Yazı rengi beyaz olur */
  transform: scale(1.1);        /* Biraz büyür */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
}

/* Ana içerik düzeni */
.container {
  max-width: 1050px;             /* İçeriğin maksimum genişliği */
  margin: auto;               /* Ortalar */
  background-color: rgb(193, 235, 249);
  border: 1px solid #ccc;
  border-radius: 20px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  padding: 10px;
  margin-top: 100px;
}

.container-hakkimda {
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 15px;
  padding: 20px;
  max-width: 850px;
  width: 50%;
  box-shadow: -2px 12px 30px rgba(0, 0, 0, 0.9);
}
.container-iletisim {
  max-width: 1050px;            
  margin: auto;               /* Ortalar */
  background-color: rgba(193, 235, 249,0.9);
  border: 1px solid #ccc;
  border-radius: 15px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  padding: 10px;
  margin-top: 100px;

}
/* İletişim formu */
.contact-form {
  max-width: 800px;             
  margin: 20px;               
  padding: 30px;                /* İç boşluk */
  background-color: whitesmoke;    
  border-radius: 20px;          
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
}


.contact-form input,
.contact-form textarea {
  width: 100%;                  
  padding: 10px;                /* İç boşluk */
  margin-bottom: 15px;          /* Alt boşluk */
  border-radius: 5px;          
  border: 1px solid #ccc;      
  font-size: 16px;             
}


.contact-form button {
  background-color: rgb(95, 95, 95);      
  color: white;                
  padding: 12px 20px;           /* İç boşluk */
  border: none;                 
  border-radius: 5px;          
  cursor: pointer;              /* İmleç el şeklini alır */
  font-size: 16px;             
}


.contact-form button:hover {
  background-color: rgb(58, 202, 251);     
  transform: scale(1.05);      
}

.index1-page {
  background-size: cover;
  min-height: 800px;
  background-position: center;
  width: 100%;
  margin: 50px 0;
  border-radius: 20px;
  display: flex; 
  justify-content: flex-start;
  position: relative;

}
.gallery {
  display: grid; /*düzenli sıralamak için */
  grid-template-columns: repeat(auto-fit, minmax(250px, 250px));
  gap: 15px; /* fotolar arası boşluk*/
  padding: 30px; /*  çevreye boşluk bırakır*/ 
}

.gallery img {
  width: 100%;
  height: 300px;
  object-fit: cover; /* en boy korur taşmayı engeller*/ 
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.gallery img:hover {
  transform: scale(1.05);
}
.hakkimda-foto {
  display: flex; /* fotoyal kutuyu yatayda hizalamak için*/
  align-items: center; /* dikeyde ortalar*/
  justify-content: center; /* yatayda ortalar*/
  margin-top: 40px; 
  margin-bottom:100px; 
  gap: 10px; /* Kutucuk ve fotoğraf arası boşluk */
}
.profile-photo img {
  width: 280px;
  height: 280px;
  object-fit: cover;
  border-radius: 50%; 
  border: 2px solid black;
  box-shadow: -2px 12px 30px rgb(0, 0, 0, 0.9);
}
.hero-container {
  display: flex;
  justify-content: center; /* Ortada tut */
  align-items: center;
  margin-top:150px;
}

.hero-content {
  position: relative;
  width: 300px;
  height: 300px;
}

.photo-center {
  position: relative;
  width: 200px;
  height: 200px;
}

.photo-center img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
  border: 4px solid white;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
}

.text {
  position: absolute;
  color: white;
  font-size: 20px;
  font-weight: 500;
  max-width: 300px;
  text-shadow: 2px 2px 5px rgba(135, 135, 135, 0.7);
  white-space: nowrap; /* metnin alt satıra geçmesini engeller*/
}

.top-right {
  text-shadow: 2px 2px 5px rgba(135, 135, 135, 0.7);
  top: 30px;
  right: -140px;
}

.bottom-right {
  text-shadow: 2px 2px 5px rgba(135, 135, 135, 0.7);
  bottom: -50px;
  right: 100px;
}

.left-side {
  top: 42%;
  left: -310px; /* Solda ortalamak için negatif değer */
  
}
.blog-image {
  width: 100%;
  max-width: 250px;
  height: auto;
  border-radius: 8px;
}

.blog-post{
  margin-bottom: 20px;           /* Alt boşluk */
  padding: 10px;                 /* İç boşluk */
  background-color:  rgb(193, 235, 249);      
}
/* SAĞ SABİT PANEL */
.sidebar {
  position: fixed;               /* Sabit konumda tutar */
  top: 62px;                    
  right: 0;                     
  width: 145px;                  
  background-color: #f9f9f9;     
  padding: 10px;                 
  box-shadow: -2px 0 8px rgb(58, 202, 251); 
  z-index: 100;                 
  border-radius: 10px;
}

.sidebar-section {
  margin-bottom: 20px;           
  font-size: 0.85em;
}
.sidebar-section h3 {
  font-size: 1.1em;           
  margin-bottom: 10px;         
  color: rgb(58, 202, 251);                 
  border-bottom: 1px solid rgb(192, 192, 192); 
  padding-bottom: 5px;           /* Çizginin altına boşluk */
}

.sidebar-section ul {
  list-style: none;              /* Madde işaretlerini kaldırır */
  padding: 1px;                    /* İç boşluk kaldırılır */
}
.sidebar-section ul li {
  margin: 10px 0;                /* Üst-alt boşluk */
}
.sidebar-section ul li a {
  display: flex;                 /* İçeriği yatay hizalamak için */
  align-items: center;          /* Dikeyde ortalar */
  text-decoration: none;        /* Alt çizgi yok */
  color: rgb(58, 202, 251);             
  font-weight: bold;           
}

.icon {
  width: 24px;                  
  height: 24px;                 
  margin-right: 8px;            
}



